@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap'); 

body {
  font-family: 'Montserrat', sans-serif;
}
:root {
  --primary-very-dark: #001C33;
  --primary-dark: #005AA3;
  --primary-medium: #007BE0;
  --primary-light: #1F9AFF;
  --neutral-heavy: #70BFFF;
  --neutral-light: #ADDAFF;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Navigation */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-light);
  opacity: .75;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1440px;
  min-height: 5rem;
  background-color: var(--primary-very-dark);
  padding: 1rem 3rem;
  box-shadow: 0px 5px 15px rgba(0,0,0, .35);
}

.brand {
  text-decoration: none;
  color: #fff;
  font-size: .9rem;
}

.nav-list {
  display: none;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  color: #fff;
  font-size: .8rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link.activated {
  color: #70BFFF;
}

.login-logout-link-container {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.email-link-form {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: .4rem;
}

.email-link-form h1 {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.email-link-form input {
  margin-top: 1rem;
  padding: .5rem .5rem;
  width: 15rem;
  border-radius: .3rem;
  border: 1px solid var(--neutral-light);
  box-shadow: inset 0px 1px 4px rgba(0,0,0, .35);
}

.email-link-form input:focus {
  outline: none;
}

.email-link-form button {
  width: 15rem;
  transition: all .2s;
  padding: .5rem 3rem;
  background-color: var(--neutral-heavy);
  box-shadow: none;
}

.email-link-form button:hover {
  opacity: .9;
}

.email-link-form button:active {
  transform: scale(.98);
}

.display-message {
  margin-top: 2rem;
  display: block; 
  font-size: .9rem;
  width: 15rem;
  padding: 1rem;
  background-color: var(--neutral-light);
  color: var(--primary-very-dark);
}

.hide-message {
  display: none;
}

.burger {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  gap: .3rem;
  cursor: pointer;
}

.burger-line {
  height: 2px;
  width: 1.2rem;
  background-color: white;
}

.dropdown-menu {
  position: absolute;
  padding: 2rem 2rem;
  top: 0;
  right: 0;
  background-color: var(--primary-very-dark);
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s;
  z-index: 10;
}

.dropdown-menu.visible {
  opacity: 1;
  visibility: visible;
}

.nav-link.dropdown-link {
  transform: translateX(100%);
  transition: all .4s;
}

.nav-link.dropdown-link.active {
  transform: translateX(0%);
}

.close-icon-container {
  cursor: pointer;
  align-self: flex-end;
  margin-right: 1rem;
  padding: .3rem .3rem;
}

.close-icon {
  color: #fff;
  font-size: 1.2rem;
}

/* Home page styles */

.google-signin-btn {
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  border-radius: .3rem;
  border: 1px solid var(--primary-very-dark);
  position: relative;
  z-index: 2;
  border: none;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0,0,0, .35);
}

.google-signin-btn:hover::after {
  transform: translateX(0%);
}

.google-signin-btn::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background-color: var(--neutral-light);
  width: 100%;
  height: 100%;
  display: block;
  border-radius: .3rem;
  transform: translateX(-100%);
  transition: all .15s;
  z-index: -1;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem 1rem;
  max-width: 40rem;
  padding: 3rem;
  box-shadow: 0px 5px 15px rgba(0,0,0, .35);
}

.main-container h1 {
  font-size: 1.2rem;
  color: var(--primary-very-dark);
}

.main-container p {
  font-size: .9rem;
  text-align: center;
}

.btn {
  padding: 1rem 4rem;
  border: none;
  border-radius: .3rem;
  background-color: var(--neutral-heavy);
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0px 5px 15px rgba(0,0,0, .35);
}

.play-btn {
  background: linear-gradient(to right, var(--primary-very-dark), var(--primary-dark));
}

.play-btn:hover {
  outline: 1px solid var(--primary-very-dark);
  background: #fff;
  color: var(--primary-very-dark);
}

.play-btn:active {
  opacity: .6;
}

.results-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.results-container span {
  font-size: 1.3rem;
  font-weight: 500;
}

.mapped-answer-container {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  text-align: left;
}

.mapped-answer-container span { 
  font-size: 1rem;
  font-weight: 400;
}

.correct-answer {
  color: #AAFF00	;
}

.incorrect-answer {
  color: #EE4B2B;
}

.reveal-btn {
  background-color: transparent;
  border: 1px solid var(--neutral-light);
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Error screen */
/* Loading Screen */

.loading-container, .error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  max-width: 40rem;
  height: 50vh;
  padding: 3rem;
}

.ball-container {
  display: flex;
  min-width: 15rem;
  align-items: center;
  justify-content: center;
}

.ball-container div {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--primary-very-dark);
  animation: slideInOpacity 2.5s linear infinite;
}

.ball-container .first {
  animation-delay: -.35s;
} 

.ball-container .second {
  animation-delay: -.85s;
} 

.ball-container .third {
  animation-delay: -1.35s;
}

@keyframes slideInOpacity {
  0% {
    opacity: 0;
    transform: translateX(-4rem) scale(1) ;
  }
  50% {
    opacity: 1;
    transform: translateX(0) scale(1.2) ;
  }
  100% {
    opacity: 0;
    transform: translateX(4rem) scale(1);
  }

}

/* Best Practices Section */
.best-practices-container, .about-container, .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 4rem;
  box-shadow: 0px 5px 15px rgba(0,0,0, .35);
}

.best-practices-container h1 {
  color: var(--primary-very-dark);
}

.login-container {
  max-width: 25rem;
}

.best-practices-list {
  margin-top: 2rem;
}

.best-practices-list li {
  margin-bottom: 1rem;
}

.best-practices-list li span {
  font-weight: 700;
}

/* About Section */

.about-container h1 {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--primary-very-dark);
}

.about-container p {
  margin-bottom: .3rem;
  font-size: .9rem;
  align-self: flex-start;
}

.about-container p span {
  font-weight: 500;
}

.about-container .main-about-paragraph {
  line-height: 1.7;
  font-size: .9rem;
  margin-bottom: 2rem;
}

/* Game play styles */
.question-container, .game-results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem 1rem;
  max-width: 40rem;
  padding: 3rem;
  background: linear-gradient(var(--primary-very-dark), var(--primary-dark));
  color: white;
  box-shadow: 0px 5px 15px rgba(0,0,0, .35);
  border-radius: 1rem;
}

.category-and-value {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category-and-value {
  letter-spacing: 1px;
}

.question-container h2 {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
}

.question-container form input {
  width: 15rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1rem;
  padding: .3rem;
  color: #fff;
  text-align: center;
}

.question-container form input:focus {
  outline: none;
}

/* Dashboard styles */

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  margin: 0rem auto;
  padding: 4rem;
  gap: 1rem;
}

.statistics-container, .leaderboard {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  box-shadow: 0px 5px 15px rgba(0,0,0, .35);
  margin-top: 0;
}

.statistics-container {
  background: linear-gradient(#fff, var(--neutral-light));
  padding: 3rem 1.5rem;
}

.statistics-container h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--primary-very-dark);
}

.statistics-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.statistics-container ul {
  font-size: 1.2rem;
}

.statistics-container ul li {
  display: flex;
  padding: .7rem .3rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-very-dark);
}

.statistics-container ul li span {
  color: var(--primary-dark);
  font-weight: 500;
}

.leaderboard {
  background: linear-gradient(var(--primary-dark), var(--primary-light));
  color: #fff;
  padding: 1rem;
}

.leaderboard-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.leaderboard-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.leaderboard-tabs button {
  color: var(--primary-light);
  background-color: transparent;
  border: none;
  padding: .4rem 3rem;
  cursor: pointer;
  border: 1px solid var(--neutral-light);
  border-top: none;
}

.leaderboard-tabs button.active {
  color: #fff;
}

.leaderboard-item-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: .3rem;
  border: 1px solid var(--primary-light);
  padding: .6rem .5rem;
  border-radius: .3rem;
  box-shadow: 0px 5px 10px rgba(0,0,0, .35);
  font-size: .9rem;
  background-color: var(--primary-dark);
}

.leaderboard-item {
  font-weight: 500;
}

.leaderboard-number {
  color: #fff;
  font-weight: 700;
}


@media (min-width: 1200px) {
  .dashboard {
    flex-direction: row;
    gap: 7rem;
  }

  .statistics-container {
    width: 50%;
  }
}


@media (min-width: 600px) {
  .main-container, .question-container, .game-results {
    margin: 1rem auto;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
  }

  .burger {
    display: none;
  } 

  .leaderboard-tabs {
    flex-direction: row;
  }

  .leaderboard-tabs button {
    color: var(--primary-light);
    background-color: transparent;
    border: none;
    padding: .4rem 3rem;
    cursor: pointer;
    border: 1px solid var(--neutral-light);
    border-top: none;
  }

  .dashboard {
    gap: 4rem;
  }


}